// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/components/global";
@import 'variables';

input[type="text"], input[type="url"] {
  font-size: 1em;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: $secondary-color;
  width: 100%;
  height: 0.5em;
  margin: 1.5em 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:2.5em;
    height:2.5em;
    background:#fff;
    margin-top:1px;
    border:1px solid rgb(153,153,153);
    cursor:move;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
}

i.fi-x {
  color: $alert-color;
}

table {
  width: 100%;
}

.delete_icon a {
  display: inline-block;
}

.flash {
  display: none;
}

.result {
  display: none;
}